.form-group label {
    font-size: 14px;
    font-weight: 600;
}

.form-group {
    margin: 10px;
}

::placeholder {
    font-size: 12px;
    color: #888;
}

.btn-primary {
    background: #ee7843 !important;
}

.modal .close {
    width: 40px;
    border-radius: 20px;
    height: 40px;
}

#about-section i, h4 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e4d1c8;
}

.section-sub-title {
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline;
}

    .section-sub-title h3 {
        padding-bottom: 5px;
        margin-bottom: 5px;
        position: relative;
        font-size: 24px;
        font-weight: 700;
        color: #4e4039;
    }

.container-header {
    max-width: 100% !important;
}

.about-section p {
    text-align: justify !important;
}

.service-items p {
    text-align: justify !important;
    font-size: 16px !important;
}

.contact-items h4 {
    justify-content: left !important;
    padding: 5px !important
}

.contact-items p {
    justify-content: left !important;
    padding: 0 0 10px 0px !important
}

.d-flex {
    justify-content: space-around;
}

.mt-5 {
    margin-top: 75px !important;
}

.modal-title {
    font-weight: 600 !important;
}

.text-container {
    text-align: justify;
}

.navbar a, .navbar a:focus {
    font-weight: bold !important;
}

.sub-programs .icon-box {
    background: #dee2e6 !important;
}

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 50px;
    margin: 10px;
    background-color: #f0f8f5;
    font-family: Arial, sans-serif;
    align-content: space-around;
    flex-direction: column;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: scaleIn 0.5s ease-out forwards;
}

.tick {
    width: 30px;
    height: 60px;
    border: solid #fff;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
    opacity: 0;
    margin-bottom: 30px;
    animation: drawTick 0.6s ease-out 0.5s forwards;
}

.success-text {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #4caf50;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in 1s forwards;
    opacity: 0;
}

@keyframes scaleIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes drawTick {
    from {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }

    to {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.training-banner {
    padding: 50px 10px;
    background: #7a6960;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
    color: white;
    max-width: 100%;
}

.section-training-banner {
    padding: 0% !important;
}

.course-curriculum h4 {
    justify-content: left;
    font-size: 16px;
    padding: 5px 0px;
    font-weight: 600;
}

.course-title h1 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
}

ul.custom-bullet {
    list-style: none;
    padding-left: 0;
}

    ul.custom-bullet li {
        position: relative;
        line-height: 40px;
        padding-left: 25px;
    }

        ul.custom-bullet li p {
            position: relative;
            line-height: 20px;
            font-size: 16px;
        }

        ul.custom-bullet li::before {
            content: '✔';
            font-size: 14px;
            color: white;
            background-color: #eb5d1e;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

.course-features .icon-box {
}

.course-features .icon i {
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    font-weight: bold;
    background-color: #ef7f4d;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.course-points-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.course-points-header .image-container {
    margin-bottom: 25px;
}

.course-points-header ul {
}
