  <!-- ======= About Section ======= -->
<section id="about-section" class="about">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                <img src="content/assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0 about-section">
                <h3 data-aos="fade-up">Why Tech Schools?</h3>
                <p data-aos="fade-up" data-aos-delay="100">
                    Being in the industry for over ten years, we always bring you the latest happenings, so your training is best-in-quality and more engaging.
                </p>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-receipt"></i>
                        <h4>Expert Instructors</h4>
                        <p>Our team of experienced instructors comprises industry professionals with years of hands-on experience in their respective fields. They bring real-world insights and practical knowledge into the classroom, ensuring that our students receive the most relevant and up-to-date training.</p>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Affordability and Value</h4>
                        <p>We understand the importance of affordability without compromising on quality. Our training programs are competitively priced, and we also offer financial assistance options to eligible students, ensuring that cost is not a barrier to education.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= F.A.Q Section ======= -->