<style>
    div [data-course-details-url]{
        cursor:pointer;
    }
</style>
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Courses</h2>
            <p>Explore Our Programs</p>
        </div>
        <div class="sub-programs">
            <div class="section-sub-title">
                <h3>Fullstack Development</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-course-details-url="java-full-stack-development" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="javascript:void(0)">JAVA Fullstack</a></h4>
                        <p class="description">Explore more with new java tech stack.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-course-details-url="java-full-stack-development" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="javascript:void(0)">.Net Fullstack</a></h4>
                        <p class="description">Explore more with .Net teck stack.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-course-details-url="java-full-stack-development" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="javascript:void(0)">Python Fullstack</a></h4>
                        <p class="description">Explore more with Python tech stack.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-programs">
            <div class="section-sub-title">
                <h3>Testing</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex" data-course-details-url="java-full-stack-development" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="javascript:void(0)">Full Stack QA Engineering </a></h4>
                        <p class="description">Explore more with testing tech stack.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-programs">
            <div class="section-sub-title">
                <h3>Dev Ops</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex" data-course-details-url="java-full-stack-development" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="javascript:void(0)">Full Stack Dev Ops Engineering </a></h4>
                        <p class="description">Explore more with Dev Ops tech stack.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>