<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Services</h2>
            <p>Check out the great services we offer</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">Cutting-Edge Training Programs</a></h4>
                    <p class="description">Dive into our comprehensive training programs designed to equip you with the latest skills and knowledge demanded by the industry. From beginner courses to advanced certifications, we've got you covered.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Expert-Led Instruction</a></h4>
                    <p class="description">Learn from seasoned industry professionals who bring years of real-world experience to the classroom. Our instructors are passionate about mentoring and guiding you towards success in your software career.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">Career Support Services</a></h4>
                    <p class="description">Our commitment doesn't end when you complete your training. Take advantage of our career support services, including resume building workshops, mock interviews, and job placement assistance, to help you launch your career in software with confidence.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Continuous Learning</a></h4>
                    <p class="description">Stay ahead of the curve with our continuous learning opportunities. From advanced specialization courses to industry networking events, we offer a range of opportunities to keep your skills sharp and your knowledge up-to-date.</p>
                </div>
            </div>

        </div>
    </div>
</section>