
@{
    ViewBag.Title = "Content";
}
<style>
    .container{
        max-width:850px !important;
    }
    .codesnippet {
        max-width: 90%;
        background-color: black;
        color: whitesmoke;
        margin: 0 auto;
        border-radius: 5px;
        display: block;
        white-space: pre-wrap; /* Wrap lines if they are too long */
        word-break: break-word; /* Break long words to avoid overflow */
    }
</style>

<main>
    <section id="about" class="about">
        <div class="container">
            <div class="flex-col gap-1 md:gap-3">
                @Html.Raw(ViewBag.htmlCotent);
            </div>
        </div>
    </section>
</main>

