<section class="section">
    <div class="container">
        <div class="row">
            <div class="course-title">
                <h1>.Net Full stack development training</h1>
            </div>
        </div>
        <div class="row">
            <div class="course-points col-md-8">
                <ul>
                    <li>Enroll for the best Selenium Certification Course designed by Industry Experts and SME’s</li>
                    <li>Master Selenium Tools such as Selenium IDE, RC, WebDriver and Grid with our Online Automation Testing Course</li>
                    <li>Get Hands on exposure by working on Real-Time Projects and Case Studies</li>
                    <li>Get Placement Assistance upon course completion</li>
                </ul>
            </div>
            <div class="course-points col-md-4">
            </div>
        </div>
</section>