<section class="section-training-banner dotnet-training-section">
    <div class="container training-banner">
        <div class="row">
            <div class="course-title">
                <h1><i class="fa-brands fa-microsoft"></i> .Net Full-stack development training</h1>
            </div>
        </div>
        <div class="row course-points-header">
            <div class="col-md-5 image-container">
                <img src="~/Content/assets/img/courses/net-fullstack-development.png" class="img-fluid" />
            </div>
            <div class="course-points col-md-7">
                <ul class="custom-bullet">
                    <li><p>Best .Net Full-stack Certification Course designed by Industry Experts and SME’s</p></li>
                    <li><p>Master in tech stack such as .Net core web API, Angular, Sql server and Azure</p></li>
                    <li><p>Get Hands on exposure by working on Real-Time Projects and Case Studies</p></li>
                    <li><p>Get Placement Assistance upon course completion</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services course-features section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Why Learn ASP.NET Core?</h2>
            <p>Explore</p>
        </div>
        <div class="sub-programs">
            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch">
                    <div class="box-rounded">
                        <ul class="custom-bullet">
                            <li>
                                <p> <b>Cross-Platform:</b> Build apps for Windows, macOS, and Linux.</p>
                            </li>
                            <li>
                                <p>   <b>High Performance:</b> Fast and scalable web applications.</p>
                            </li>
                            <li>
                                <p>  <b>Modern and Secure:</b> Up-to-date with the latest features and built-in security.</p>
                            </li>
                            <li>
                                <p>  <b>Cloud Ready:</b> Easy deployment to Azure and AWS.</p>
                            </li>
                            <li>
                                <p>  <b>Industry Demand:</b> Highly valued skill for enterprise applications.</p>
                            </li>
                            <li>
                                <p>  <b>Free and Open-Source:</b> No cost and flexible development.</p>
                            </li>
                            <li>
                                <p>  <b>Strong Community:</b> Active support and resources available.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services course-features section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Key Concepts in Course</h2>
            <p>Explore key concepts</p>
        </div>
        <div class="sub-programs">
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">.Net Core</a></h4>
                        <p class="description">Explore new .Net 8 + concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">C# .Net</a></h4>
                        <p class="description">Explore new C# 12 concepts.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Asp.net MVC</a></h4>
                        <p class="description">Explore Asp.net MVC features.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Web API</a></h4>
                        <p class="description">Explore REST API and many features.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Entity Framework</a></h4>
                        <p class="description">Explore EF Core + features.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">LINQ</a></h4>
                        <p class="description">Explore LINQ to SQL and many.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Async Programming</a></h4>
                        <p class="description">Explore TPL library and new concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Angular 18</a></h4>
                        <p class="description">Explore new Angular 18 + features.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">HTML & CSS</a></h4>
                        <p class="description">Explore HTML 5 and CSS new concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">SQL Server</a></h4>
                        <p class="description">Explore SQL Server development concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Azure Cloud</a></h4>
                        <p class="description">Explore Azure development services.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section course-curriculum section-bg">
    <div class="accordion container" data-aos="fade-up" id="accordionExample">
        <div class="section-title">
            <h2>Key Concept Details</h2>
            <p>Explore concept details</p>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    .NET and .NET Core
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Understanding .NET Framework</p></li>
                            <li><p>.NET Framework Version History</p></li>
                            <li><p>.NET Framework 4.5 Architecture</p></li>
                            <li><p>Common Language Runtime (CLR)</p></li>
                            <li><p>CLR Components</p></li>
                            <li><p>Microsoft Intermediate Language (MSIL)</p></li>
                            <li><p>Common Type System (CTS)</p></li>
                            <li><p>Common Language Specification (CLS)</p></li>
                            <li><p>Relationship Between CTS and CLS</p></li>
                            <li><p>Framework Class Library (FCL)</p></li>
                            <li><p>Just-In-Time Compilation (JIT)</p></li>
                            <li><p>Types of JIT Compiler</p></li>
                            <li><p>Normal JIT, Pre-JIT, Econo JIT</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    C# Fundamentals
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <h4>C# Programming Language</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to C#</p></li>
                                <li><p>History of C# Version</p></li>
                                <li><p>C# Advantages</p></li>
                            </ul>
                            <h4>Creating Your First C# Program</h4>
                            <ul class="custom-bullet">
                                <li><p>Structure of a C# Program</p></li>
                                <li><p>Basic Input / Output Operations</p></li>
                                <li><p>Compiling, Running, and Debugging</p></li>
                            </ul>
                            <h4>Data Type</h4>
                            <ul class="custom-bullet">
                                <li><p>Understanding Data Type</p></li>
                                <li><p>Types of Data Type – Value Type &amp; Reference Type</p></li>
                            </ul>
                            <h4>Variable &amp; Typecasting</h4>
                            <ul class="custom-bullet">
                                <li><p>Naming a variable</p></li>
                                <li><p>Boxing and Unboxing</p></li>
                                <li><p>Data Conversions – Implicit &amp; Explicit</p></li>
                                <li><p>Safe Type Casting with IS and AS Operator</p></li>
                            </ul>

                            <h4>Operators</h4>
                            <ul class="custom-bullet">
                                <li><p>Different Types of Operators</p></li>
                                <li><p>Operators precedence</p></li>
                            </ul>
                            <h4>Conditional Statements</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to conditional statements</p></li>
                                <li><p>If statements</p></li>
                                <li><p>If-else statement</p></li>
                                <li><p>If-else-if ladder</p></li>
                                <li><p>Switch statement</p></li>
                            </ul>
                            <h4>Loops</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to loop</p></li>
                                <li><p>..while loop</p></li>
                                <li><p>while loop</p></li>
                                <li><p>for loop</p></li>
                                <li><p>foreach loop</p></li>
                            </ul>
                            <h4>Jump Statements</h4>
                            <ul class="custom-bullet">
                                <li><p>break statement</p></li>
                                <li><p>continue statement</p></li>
                                <li><p>goto statement</p></li>
                                <li><p>return statement</p></li>
                                <li><p>throw statement</p></li>
                            </ul>

                            <h4>Arrays</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Array</p></li>
                                <li><p>One Dimensional Array</p></li>
                                <li><p>Multi-Dimensional Array</p></li>
                                <li><p>Jagged Array</p></li>
                                <li><p>Array Class</p></li>
                            </ul>
                            <h4>Strings</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to strings</p></li>
                                <li><p>Mutable strings</p></li>
                                <li><p>Immutable strings</p></li>
                                <li><p>Strings methods</p></li>
                                <li><p>Verbatim String</p></li>
                            </ul>

                            <h4>Introduction to Object-Oriented Programming</h4>
                            <ul class="custom-bullet">
                                <li><p>Object-Oriented Programming</p></li>
                                <li><p>Classes and Objects</p></li>
                                <li><p>Inheritance</p></li>
                                <li><p>Polymorphism</p></li>
                                <li><p>Abstraction</p></li>
                                <li><p>Encapsulation</p></li>
                            </ul>
                            <h4>Class and Objects</h4>
                            <ul class="custom-bullet">
                                <li><p>Creating a class</p></li>
                                <li><p>Access Modifiers</p></li>
                                <li><p>Instance members</p></li>
                                <li><p>Creating an object</p></li>
                            </ul>
                            <h4>Constructor and Destructor</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Constructor</p></li>
                                <li><p>Types of Constructor</p></li>
                                <li><p>Default Constructor</p></li>
                                <li><p>Parameterized Constructor</p></li>
                                <li><p>Introduction to Destructor</p></li>
                                <li><p>Creating Destructor</p></li>
                            </ul>

                            <h4>Inheritance</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Inheritance</p></li>
                                <li><p>Types of inheritance</p></li>
                                <li><p>Advantage of Inheritance</p></li>
                                <li><p>Single Level Inheritance</p></li>
                                <li><p>Multi-Level Inheritance</p></li>
                                <li><p>Multiple Inheritance</p></li>
                                <li><p>Hybrid Inheritance</p></li>
                            </ul>
                            <h4>Methods</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Methods</p></li>
                                <li><p>Method Parameters</p></li>
                                <li><p>Value, Out, Ref, Params and Optional Parameters</p></li>
                                <li><p>Methods Overloading</p></li>
                                <li><p>Methods Overriding</p></li>
                                <li><p>Method Hiding</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Advanced C#
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <h4>Property<br></h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Property</p></li>
                                <li><p>Uses of Property</p></li>
                                <li><p>Types of Property</p></li>
                                <li><p>Read-Write Property</p></li>
                                <li><p>Read Only Property</p></li>
                                <li><p>Write Only Property</p></li>
                            </ul>

                            <h4>Enum</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Enum</p></li>
                                <li><p>Creating Enum</p></li>
                                <li><p>Using Enum</p></li>
                            </ul>
                            <h4>Exception Handling</h4>
                            <ul class="custom-bullet">
                                <li><p>Understanding Exceptions</p></li>
                                <li><p>Try, Catch and Finally block</p></li>
                                <li><p>Throw exception</p></li>
                                <li><p>Handling Exception</p></li>
                                <li><p>Custom Exception</p></li>
                            </ul>
                            <h4>Attributes</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to attributes</p></li>
                                <li><p>Creating attributes</p></li>
                                <li><p>Custom attributes</p></li>
                            </ul>

                            <h4>Abstract Class</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Abstract Class</p></li>
                                <li><p>Creating Abstract class</p></li>
                                <li><p>Need of Abstract class</p></li>
                                <li><p>Advantages of abstract class</p></li>
                            </ul>
                            <h4>Interface</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Interface</p></li>
                                <li><p>Creating Interface</p></li>
                                <li><p>Need of Interface</p></li>
                                <li><p>Abstract class vs. Interface</p></li>
                            </ul>
                            <h4>Static Class</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to static class</p></li>
                                <li><p>Creating static class and static methods</p></li>
                                <li><p>Need of static class</p></li>
                                <li><p>Normal class vs. Static class</p></li>
                            </ul>
                            <h4>Partial Class</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to partial class</p></li>
                                <li><p>Creating partial class</p></li>
                                <li><p>Need of partial class</p></li>
                            </ul>

                            <h4>Anonymous Type, Dynamic Type and Tuples</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Anonymous Type</p></li>
                                <li><p>Using Anonymous Type</p></li>
                                <li><p>Introduction to Dynamic</p></li>
                                <li><p>Using Dynamic Type</p></li>
                            </ul>
                            <h4>Anonymous Method and Lambda Expression</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to Anonymous Method</p></li>
                                <li><p>Using Anonymous Method</p></li>
                                <li><p>Introduction to Lambda Expression</p></li>
                                <li><p>Types of Lambda Expression</p></li>
                            </ul>
                            <h4>Delegates</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to delegates</p></li>
                                <li><p>Types of delegates</p></li>
                                <li><p>Single Delegate</p></li>
                                <li><p>Multicast Delegate</p></li>
                            </ul>
                            <h4>Events</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to events</p></li>
                                <li><p>Creating Events</p></li>
                                <li><p>Event Handler</p></li>
                            </ul>

                            <h4>Collections</h4>
                            <ul class="custom-bullet">
                                <li><p>Introduction to .NET Collections</p></li>
                                <li><p>Relations between Collection Interfaces and Classes</p></li>
                            </ul>
                            <h4>Collection classes</h4>
                            <ul class="custom-bullet">
                                <li><p>ArrayList</p></li>
                                <li><p>SortedList</p></li>
                                <li><p>Dictionary</p></li>
                                <li><p>Hashtable</p></li>
                                <li><p>Stack</p></li>
                                <li><p>Queue</p></li>
                            </ul>
                            <h4>Generics</h4>
                            <ul class="custom-bullet">
                                <li><p>Understanding .NET Generics</p></li>
                                <li><p>Generics Advantages</p></li>
                                <li><p>Collections vs. Generics</p></li>
                            </ul>
                            <h4>Generics Collection Classes</h4>
                            <ul class="custom-bullet">
                                <li><p>List&lt;T&gt;</p></li>
                                <li><p>SortedList&lt;TKey, TValue&gt;</p></li>
                                <li><p>Dictionary&lt;TKey, TValue&gt;</p></li>
                                <li><p>Hashset&lt;T&gt;</p></li>
                                <li><p>Stack&lt;T&gt;</p></li>
                                <li><p>Queue&lt;T&gt;</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    SQL Server
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <h4>SQL Server Basics</h4>
                            <ul class="custom-bullet">
                                <li><p>Understanding SQL Server</p></li>
                                <li><p>SQL Server Version History</p></li>
                                <li><p>Advantage of SQL Server</p></li>
                            </ul>
                            <h4>T-SQL</h4>
                            <ul class="custom-bullet">
                                <li><p>Types of SQL Commands</p></li>
                                <li><p>Creating Database</p></li>
                                <li><p>Altering Database</p></li>
                                <li><p>Deleting Database</p></li>
                                <li><p>Creating Table</p></li>
                                <li><p>Altering Table</p></li>
                                <li><p>Deleting Table</p></li>
                            </ul>
                            <h4>SQL Keys, Commands and Clauses</h4>
                            <ul class="custom-bullet">
                                <li><p>Types of SQL Keys</p></li>
                                <li><p>Using SQL Commands</p></li>
                                <li><p>Querying Database</p></li>
                                <li><p>Delete vs. Truncate</p></li>
                                <li><p>SQL Operators</p></li>
                                <li><p>SQL Clauses</p></li>
                            </ul>
                            <h4>SQL Joins</h4>
                            <ul class="custom-bullet">
                                <li><p>Types of Joins</p></li>
                                <li><p>Inner Join</p></li>
                                <li><p>Outer Join</p></li>
                                <li><p>Cross Join</p></li>
                                <li><p>Self-Join</p></li>
                            </ul>
                            <h4>Views</h4>
                            <ul class="custom-bullet">
                                <li><p>Understanding Views</p></li>
                                <li><p>Need of Views</p></li>
                                <li><p>Creating, Altering and Dropping Views</p></li>
                                <li><p>Simple and Complex Views</p></li>
                            </ul>

                            <h4>Functions</h4>
                            <ul class="custom-bullet">
                                <li><p>Built-In Functions</p></li>
                                <li><p>Scalar Functions</p></li>
                                <li><p>Aggregate Functions</p></li>
                                <li><p>Creating, Altering and Dropping Functions</p></li>
                            </ul>
                            <h4>Stored Procedures</h4>
                            <ul class="custom-bullet">
                                <li><p>Creating, Altering and Dropping Procedure</p></li>
                                <li><p>Optional Parameters</p></li>
                                <li><p>Input and Output Parameters</p></li>
                            </ul>
                            <h4>Triggers</h4>
                            <ul class="custom-bullet">
                                <li><p>Understanding Triggers</p></li>
                                <li><p>Stored Procedures VS Functions VS Triggers</p></li>
                                <li><p>Types of Triggers</p></li>
                                <li><p>Creating, Altering and Dropping Triggers</p></li>
                            </ul>
                            <h4>Cursors</h4>
                            <ul class="custom-bullet">
                                <li><p>Understanding Cursors</p></li>
                                <li><p>Types of Cursors</p></li>
                                <li><p>Using Cursors</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Angular Development
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <ul class="custom-bullet">
                                <li><p>Modules</p></li>
                                <li><p>Components</p></li>
                                <li><p>Templates</p></li>
                                <li><p>Data Binding</p></li>
                                <li><p>Directives</p></li>
                                <li><p>Services and Dependency Injection</p></li>
                                <li><p>Routing</p></li>
                                <li><p>Forms</p></li>
                                <li><p>Pipes</p></li>
                                <li><p>HTTP Client</p></li>
                                <li><p>Lifecycle Hooks</p></li>
                                <li><p>Change Detection</p></li>
                                <li><p>Angular CLI</p></li>
                                <li><p>Animations</p></li>
                                <li><p>Observables and RxJS</p></li>
                                <li><p>State Management</p></li>
                                <li><p>Testing</p></li>
                                <li><p>Internationalization (i18n)</p></li>
                                <li><p>Angular Universal (Server-Side Rendering)</p></li>
                                <li><p>Performance Optimization</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Azure Development
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <ul class="custom-bullet">
                                <li><p>Azure App Service</p></li>
                                <li><p>Azure Functions</p></li>
                                <li><p>Azure Logic Apps</p></li>
                                <li><p>Azure Kubernetes Service (AKS)</p></li>
                                <li><p>Azure DevOps</p></li>
                                <li><p>Azure Resource Manager (ARM)</p></li>
                                <li><p>Azure Virtual Machines</p></li>
                                <li><p>Azure SQL Database</p></li>
                                <li><p>Azure Cosmos DB</p></li>
                                <li><p>Azure Storage (Blob, Table, Queue, File)</p></li>
                                <li><p>Azure Virtual Network (VNet)</p></li>
                                <li><p>Azure Active Directory (Azure AD)</p></li>
                                <li><p>Azure Key Vault</p></li>
                                <li><p>Azure Monitor</p></li>
                                <li><p>Azure Cognitive Services</p></li>
                                <li><p>Azure Machine Learning</p></li>
                                <li><p>Azure API Management</p></li>
                                <li><p>Azure Event Hubs</p></li>
                                <li><p>Azure Service Bus</p></li>
                                <li><p>Azure Sentinel</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    HTML, CSS and JavaScript
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <ul class="custom-bullet">
                                <li><p>HTML Document Structure</p></li>
                                <li><p>HTML Elements and Tags</p></li>
                                <li><p>HTML Attributes</p></li>
                                <li><p>HTML Headings</p></li>
                                <li><p>HTML Paragraphs</p></li>
                                <li><p>HTML Links</p></li>
                                <li><p>HTML Images</p></li>
                                <li><p>HTML Lists (ul, ol, li)</p></li>
                                <li><p>HTML Tables</p></li>
                                <li><p>HTML Forms</p></li>
                                <li><p>HTML Input Types</p></li>
                                <li><p>HTML Semantic Elements</p></li>
                                <li><p>HTML5 New Elements</p></li>
                                <li><p>HTML Canvas</p></li>
                                <li><p>HTML SVG</p></li>
                                <li><p>HTML Media Elements (audio, video)</p></li>
                                <li><p>HTML Meta Tags</p></li>
                                <li><p>HTML iframes</p></li>
                                <li><p>HTML Inline vs Block Elements</p></li>
                                <li><p>HTML Accessibility</p></li>
                                <li><p>CSS Selectors</p></li>
                                <li><p>CSS Box Model</p></li>
                                <li><p>CSS Flexbox</p></li>
                                <li><p>CSS Grid Layout</p></li>
                                <li><p>CSS Positioning</p></li>
                                <li><p>CSS Colors</p></li>
                                <li><p>CSS Typography</p></li>
                                <li><p>CSS Backgrounds</p></li>
                                <li><p>CSS Margins and Paddings</p></li>
                                <li><p>CSS Borders</p></li>
                                <li><p>CSS Media Queries</p></li>
                                <li><p>CSS Pseudo-classes and Pseudo-elements</p></li>
                                <li><p>CSS Animations and Transitions</p></li>
                                <li><p>CSS Responsive Design</p></li>
                                <li><p>CSS Variables</p></li>
                                <li><p>CSS Specificity</p></li>
                                <li><p>CSS Frameworks (e.g., Bootstrap)</p></li>
                                <li><p>JavaScript Variables</p></li>
                                <li><p>JavaScript Data Types</p></li>
                                <li><p>JavaScript Operators</p></li>
                                <li><p>JavaScript Functions</p></li>
                                <li><p>JavaScript Objects</p></li>
                                <li><p>JavaScript Arrays</p></li>
                                <li><p>JavaScript Loops</p></li>
                                <li><p>JavaScript Conditional Statements</p></li>
                                <li><p>JavaScript Events</p></li>
                                <li><p>JavaScript DOM Manipulation</p></li>
                                <li><p>JavaScript ES6 Features (let, const, arrow functions)</p></li>
                                <li><p>JavaScript Promises</p></li>
                                <li><p>JavaScript Async/Await</p></li>
                                <li><p>JavaScript Callbacks</p></li>
                                <li><p>JavaScript Closures</p></li>
                                <li><p>JavaScript Hoisting</p></li>
                                <li><p>JavaScript Scope</p></li>
                                <li><p>JavaScript Prototype</p></li>
                                <li><p>JavaScript Modules</p></li>
                                <li><p>JavaScript Event Loop</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
