<style>
    .training-banner {
        padding: 50px 10px;
        background: linear-gradient(to right, #363636 0%, #eb5d1e 100%, #363636 100%);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: right center;
        color: white;
        max-width:100%;
    }
    .section-training-banner{
        padding:0% !important;
    }

    .course-curriculum h4 {
        justify-content: left;
        font-size: 16px;
        padding: 5px 0px;
        font-weight: 600;
    }

    .course-title h1 {
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        font-weight:600;
        font-size:24px;
    }

    ul.custom-bullet {
        list-style: none;
        padding-left: 0;
    }

        ul.custom-bullet li {
            position: relative;
            line-height: 40px;
            padding-left: 25px; /* Adjust padding to create space for the bullet */
        }
        ul.custom-bullet li p {
            position: relative;
            line-height: 20px;  
            font-size:16px;
        }

            ul.custom-bullet li::before {
                content: '✔'; /* Unicode character for the tick mark */
                font-size: 14px; /* Adjust font size as needed */
                color: white; /* Color of the tick mark */
                background-color: #eb5d1e; /* Background color of the round mark */
                border-radius: 50%; /* Makes the background a circle */
                width: 18px; /* Width of the circle */
                height: 18px; /* Height of the circle */
                line-height: 18px; /* Centers the tick vertically */
                text-align: center; /* Centers the tick horizontally */
                display: inline-block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

    .course-features .icon-box {
        /*background: linear-gradient(to right, #363636 0%, #eb5d1e 100%, #363636 100%);
        color: white;*/
    }

    .course-features .icon i {
        /*color: white;*/
    }

    .accordion-button:not(.collapsed) {
        color: #ffffff;
        font-weight: bold;
        background-color: #ef7f4d;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    }
</style>
<section class="section-training-banner">
    <div class="container training-banner">
        <div class="row">
            <div class="course-title">
                <h1>.Net Full stack development training</h1>
            </div>
        </div>
        <div class="row">
            <div class="course-points col-md-10">
                <ul class="custom-bullet">
                    <li><p>Enroll for the best Selenium Certification Course designed by Industry Experts and SME’s</p></li>
                    <li><p>Master Selenium Tools such as Selenium IDE, RC, WebDriver and Grid with our Online Automation Testing Course</p></li>
                    <li><p>Get Hands on exposure by working on Real-Time Projects and Case Studies</p></li>
                    <li><p>Get Placement Assistance upon course completion</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services course-features section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Key Concepts</h2>
            <p>Explore key concepts</p>
        </div>
        <div class="sub-programs">
            <div class="section-sub-title">
                <h3>.Net Fullstack Development</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">.Net Core</a></h4>
                        <p class="description">Explore new .Net 8 + concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">C# .Net</a></h4>
                        <p class="description">Explore new C# 12 concepts.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Asp.net MVC</a></h4>
                        <p class="description">Explore Asp.net MVC features.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Web API</a></h4>
                        <p class="description">Explore REST API and many features.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Entity Framework</a></h4>
                        <p class="description">Explore EF Core + features.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">LINQ</a></h4>
                        <p class="description">Explore LINQ to SQL and many.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Async Programming</a></h4>
                        <p class="description">Explore TPL library and new concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Angular 18</a></h4>
                        <p class="description">Explore new Angular 18 + features.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">HTML & CSS</a></h4>
                        <p class="description">Explore HTML 5 and CSS new concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">SQL Server</a></h4>
                        <p class="description">Explore SQL Server development concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Azure Cloud</a></h4>
                        <p class="description">Explore Azure development services.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section course-curriculum section-bg">
    <div class="accordion container" data-aos="fade-up" id="accordionExample">
        <div class="section-title">
            <h2>Key Concept Details</h2>
            <p>Explore concept details</p>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    .NET and .NET Core
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li>Understanding .NET Framework </li>
                            <li>.NET Framework Version History</li>
                            <li>.NET Framework 4.5 Architecture</li>
                            <li>Common Language Runtime (CLR) </li>
                            <li>CLR Components</li>
                            <li>Microsoft Intermediate language (MSIL) </li>
                            <li>Common Type System (CTS)</li>
                            <li>Common Language Specification (CLS) </li>
                            <li>Relationship Between CTS and CLS</li>
                            <li>Framework Class Library (FCL)</li>
                            <li>Just-In Time Compilation (JIT)</li>
                            <li>Types of JIT Compiler</li>
                            <li>Normal JIT, Pre-JIT, Econo JIT</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    C# Fundamentals
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <h4>C# Programming Language</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to C#</li>
                                <li>History of C# Version</li>
                                <li>C# Advantages</li>
                            </ul><ul class="custom-bullet">
                            </ul>
                            <h4>Creating Your First C# Program</h4>
                            <ul class="custom-bullet">
                                <li>Structure of a C# Program</li>
                                <li>Basic Input / Output Operations</li>
                                <li>Compiling, Running, and Debugging</li>
                            </ul>
                            <h4>Data Type</h4>
                            <ul class="custom-bullet">
                                <li>Understanding Data Type</li>
                                <li>Types of Data Type – Value Type &amp; Reference Type</li>
                            </ul>
                            <h4>Variable &amp; Typecasting</h4>
                            <ul class="custom-bullet">
                                <li>Naming a variable</li>
                                <li>Boxing and Unboxing</li>
                                <li>Data Conversions – Implicit &amp; Explicit</li>
                                <li>Safe Type Casting with IS and AS Operator</li>
                            </ul>

                            <h4>Operators</h4>
                            <ul class="custom-bullet">
                                <li>Different Types of Operators</li>
                                <li>Operators precedence</li>
                            </ul>
                            <h4>Conditional Statements</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to conditional statement</li>
                                <li>If statements</li>
                                <li>If-else statement</li>
                                <li>If-else-if ladder</li>
                                <li>Switch statement</li>
                            </ul>
                            <h4>Loops</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to loop</li>
                                <li>..while loop</li>
                                <li>while loop</li>
                                <li>for loop</li>
                                <li>foreach loop</li>
                            </ul>
                            <h4>Jump Statements</h4>
                            <ul class="custom-bullet">
                                <li>break statement</li>
                                <li>continue statement</li>
                                <li>goto statement</li>
                                <li>return statement</li>
                                <li>throw statement</li>
                            </ul>

                            <h4>Arrays</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Array</li>
                                <li>One Dimensional Array</li>
                                <li>Multi-Dimensional Array</li>
                                <li>Jagged Array</li>
                                <li>Array Class</li>
                            </ul>
                            <h4>Strings</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to strings</li>
                                <li>Mutable strings</li>
                                <li>Immutable strings</li>
                                <li>Strings methods</li>
                                <li>Verbatim String</li>
                            </ul>

                            <h4>Introduction to Object-Oriented Programming</h4>
                            <ul class="custom-bullet">
                                <li>Object-Oriented Programming</li>
                                <li>Classes and Objects</li>
                                <li>Inheritance</li>
                                <li>Polymorphism</li>
                                <li>Abstraction</li>
                                <li>Encapsulation</li>
                            </ul>
                            <h4>Class and Objects</h4>
                            <ul class="custom-bullet">
                                <li>Creating a class</li>
                                <li>Access Modifiers</li>
                                <li>Instance members</li>
                                <li>Creating an object</li>
                            </ul>
                            <h4>Constructor and Destructor</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Constructor</li>
                                <li>Types of Constructor</li>
                                <li>Default Constructor</li>
                                <li>Parameterized Constructor</li>
                                <li>Introduction to Destructor</li>
                                <li>Creating Destructor</li>
                            </ul>

                            <h4>Inheritance</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Inheritance</li>
                                <li>Types of inheritance</li>
                                <li>Advantage of Inheritance</li>
                                <li>Single Level Inheritance</li>
                                <li>Multi-Level Inheritance</li>
                                <li>Multiple Inheritance</li>
                                <li>Hybrid Inheritance</li>
                            </ul>
                            <h4>Methods</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Methods</li>
                                <li>Method Parameters</li>
                                <li>Value, Out, Ref, Params and Optional Parameters</li>
                                <li>Methods Overloading</li>
                                <li>Methods Overriding</li>
                                <li>Method Hiding</li>
                            </ul><ul class="custom-bullet">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Advanced C#
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">

                            <h4>Property<br></h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Property</li>
                                <li>Uses of Property</li>
                                <li>Types of Property</li>
                                <li>Read-Write Property</li>
                                <li>Read Only Property</li>
                                <li>Write Only Property</li>
                            </ul>

                            <h4>Enum</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Enum</li>
                                <li>Creating Enum</li>
                                <li>Using Enum</li>
                            </ul>
                            <h4>Exception Handling</h4>
                            <ul class="custom-bullet">
                                <li>Understanding Exceptions</li>
                                <li>Try, Catch and Finally block</li>
                                <li>Throw exception</li>
                                <li>Handling Exception</li>
                                <li>Custom Exception</li>
                            </ul>
                            <h4>Attributes</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to attributes</li>
                                <li>Creating attributes</li>
                                <li>Custom attributes</li>
                            </ul>

                            <h4>Abstract Class</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Abstract Class</li>
                                <li>Creating Abstract class</li>
                                <li>Need of Abstract class</li>
                                <li>Advantages of abstract class</li>
                            </ul>
                            <h4>Interface</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Interface</li>
                                <li>Creating Interface</li>
                                <li>Need of Interface</li>
                                <li>Abstract class vs. Interface</li>
                            </ul>
                            <h4>Static Class</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to static class</li>
                                <li>Creating static class and static methods</li>
                                <li>Need of static class</li>
                                <li>Normal class vs. Static class</li>
                            </ul>
                            <h4>Partial Class</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to partial class</li>
                                <li>Creating partial class</li>
                                <li>Need of partial class</li>
                            </ul>

                            <h4>Anonymous Type, Dynamic Type and Tuples</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Anonymous Type</li>
                                <li>Using Anonymous Type</li>
                                <li>Introduction to Dynamic</li>
                                <li>Using Dynamic Type</li>
                            </ul>
                            <h4>Anonymous Method and Lambda Expression</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to Anonymous Method</li>
                                <li>Using Anonymous Method</li>
                                <li>Introduction to Lambda Expression</li>
                                <li>Types of Lambda Expression</li>
                            </ul>
                            <h4>Delegates</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to delegates</li>
                                <li>Types of delegates</li>
                                <li>Single Delegate</li>
                                <li>Multicast Delegate</li>
                            </ul><ul class="custom-bullet">
                            </ul>
                            <h4>Events</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to events</li>
                                <li>Creating Events</li>
                                <li>Event Handler</li>
                            </ul>

                            <h4>Collections</h4>
                            <ul class="custom-bullet">
                                <li>Introduction to .NET Collections</li>
                                <li>Relations between Collection Interfaces and Classes</li>
                            </ul>
                            <h4>Collection classes</h4>
                            <ul class="custom-bullet">
                                <li>ArrayList</li>
                                <li>SortedList</li>
                                <li>Dictionary</li>
                                <li>Hashtable</li>
                                <li>Stack</li>
                                <li>Queue</li>
                            </ul>
                            <h4>Generics</h4>
                            <ul class="custom-bullet">
                                <li>Understanding .NET Generics</li>
                                <li>Generics Advantages</li>
                                <li>Collections vs. Generics</li>
                            </ul><ul class="custom-bullet">
                            </ul>
                            <h4>Generics Collection Classes</h4>
                            <ul class="custom-bullet">
                                <li>List&lt;T&gt;</li>
                                <li>SortedList&lt;TKey, TValue&gt;</li>
                                <li>Dictionary&lt;TKey, TValue&gt;</li>
                                <li>Hashset&lt;T&gt;</li>
                                <li>Stack&lt;T&gt;</li>
                                <li>Queue&lt;T&gt;</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    SQL Server
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <h4>SQL Server Basics</h4>
                            <ul class="custom-bullet">
                                <li>Understanding SQL Server</li>
                                <li>SQL Server Version History</li>
                                <li>Advantage of SQL Server</li>
                            </ul>
                            <h4>T - SQL</h4>
                            <ul class="custom-bullet">
                                <li>Types of SQL Commands</li>
                                <li>Creating Database</li>
                                <li>Altering Database</li>
                                <li>Deleting Database</li>
                                <li>Creating Table</li>
                                <li>Altering Table</li>
                                <li>Deleting Table</li>
                            </ul>
                            <h4>SQL Keys, Commands and Clauses</h4>
                            <ul class="custom-bullet">
                                <li>Types of SQL Keys</li>
                                <li>Using SQL Commands</li>
                                <li>Querying Database</li>
                                <li>Delete vs. Truncate</li>
                                <li>SQL Operators</li>
                                <li>SQL Clauses</li>
                            </ul>
                            <h4>SQL Joins</h4>
                            <ul class="custom-bullet">
                                <li>Types of Joins</li>
                                <li>Inner Join</li>
                                <li>Outer Join</li>
                                <li>Cross Join</li>
                                <li>Self-Join</li>
                            </ul>
                            <h4>Views</h4>
                            <ul class="custom-bullet">
                                <li>Understanding Views</li>
                                <li>Need of Views</li>
                                <li>Creating, Altering and Dropping Views</li>
                                <li>Simple and Complex Views</li>
                            </ul>

                            <h4>Functions</h4>
                            <ul class="custom-bullet">
                                <li>Built-In Functions</li>
                                <li>Scalar Functions</li>
                                <li>Aggregate Functions</li>
                                <li>Creating, Altering and Dropping Functions</li>
                            </ul>
                            <h4>Stored Procedures</h4>
                            <ul class="custom-bullet">
                                <li>Creating, Altering and Dropping Procedure</li>
                                <li>Optional Parameters</li>
                                <li>Input and Output Parameters</li>
                            </ul>
                            <h4>Triggers</h4>
                            <ul class="custom-bullet">
                                <li>Understanding Triggers</li>
                                <li>Stored Procedures VS Functions VS Triggers</li>
                                <li>Types of Triggers</li>
                                <li>Creating, Altering and Dropping Triggers</li>
                            </ul>
                            <h4>Cursors</h4>
                            <ul class="custom-bullet">
                                <li>Understanding Cursors</li>
                                <li>Types of Cursors</li>
                                <li>Using Cursors</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    Angular Development
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <ul class="custom-bullet">
                                <li>Modules</li>
                                <li>Components</li>
                                <li>Templates</li>
                                <li>Data Binding</li>
                                <li>Directives</li>
                                <li>Services and Dependency Injection</li>
                                <li>Routing</li>
                                <li>Forms</li>
                                <li>Pipes</li>
                                <li>HTTP Client</li>
                                <li>Lifecycle Hooks</li>
                                <li>Change Detection</li>
                                <li>Angular CLI</li>
                                <li>Animations</li>
                                <li>Observables and RxJS</li>
                                <li>State Management</li>
                                <li>Testing</li>
                                <li>Internationalization (i18n)</li>
                                <li>Angular Universal (Server-Side Rendering)</li>
                                <li>Performance Optimization</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                    Azure Development
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <ul class="custom-bullet">
                                <li>Azure App Service</li>
                                <li>Azure Functions</li>
                                <li>Azure Logic Apps</li>
                                <li>Azure Kubernetes Service (AKS)</li>
                                <li>Azure DevOps</li>
                                <li>Azure Resource Manager (ARM)</li>
                                <li>Azure Virtual Machines</li>
                                <li>Azure SQL Database</li>
                                <li>Azure Cosmos DB</li>
                                <li>Azure Storage (Blob, Table, Queue, File)</li>
                                <li>Azure Virtual Network (VNet)</li>
                                <li>Azure Active Directory (Azure AD)</li>
                                <li>Azure Key Vault</li>
                                <li>Azure Monitor</li>
                                <li>Azure Cognitive Services</li>
                                <li>Azure Machine Learning</li>
                                <li>Azure API Management</li>
                                <li>Azure Event Hubs</li>
                                <li>Azure Service Bus</li>
                                <li>Azure Sentinel</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                    HTML, CSS and Javascript
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <div style="height:500px;overflow-y:scroll" class="w-100">
                            <ul class="custom-bullet">
                                <li>HTML Document Structure</li>
                                <li>HTML Elements and Tags</li>
                                <li>HTML Attributes</li>
                                <li>HTML Headings</li>
                                <li>HTML Paragraphs</li>
                                <li>HTML Links</li>
                                <li>HTML Images</li>
                                <li>HTML Lists (ul, ol, li)</li>
                                <li>HTML Tables</li>
                                <li>HTML Forms</li>
                                <li>HTML Input Types</li>
                                <li>HTML Semantic Elements</li>
                                <li>HTML5 New Elements</li>
                                <li>HTML Canvas</li>
                                <li>HTML SVG</li>
                                <li>HTML Media Elements (audio, video)</li>
                                <li>HTML Meta Tags</li>
                                <li>HTML iframes</li>
                                <li>HTML Inline vs Block Elements</li>
                                <li>HTML Accessibility</li>
                                <li>CSS Selectors</li>
                                <li>CSS Box Model</li>
                                <li>CSS Flexbox</li>
                                <li>CSS Grid Layout</li>
                                <li>CSS Positioning</li>
                                <li>CSS Colors</li>
                                <li>CSS Typography</li>
                                <li>CSS Backgrounds</li>
                                <li>CSS Margins and Paddings</li>
                                <li>CSS Borders</li>
                                <li>CSS Media Queries</li>
                                <li>CSS Pseudo-classes and Pseudo-elements</li>
                                <li>CSS Animations and Transitions</li>
                                <li>CSS Responsive Design</li>
                                <li>CSS Variables</li>
                                <li>CSS Specificity</li>
                                <li>CSS Frameworks (e.g., Bootstrap)</li>
                                <li>JavaScript Variables</li>
                                <li>JavaScript Data Types</li>
                                <li>JavaScript Operators</li>
                                <li>JavaScript Functions</li>
                                <li>JavaScript Objects</li>
                                <li>JavaScript Arrays</li>
                                <li>JavaScript Loops</li>
                                <li>JavaScript Conditional Statements</li>
                                <li>JavaScript Events</li>
                                <li>JavaScript DOM Manipulation</li>
                                <li>JavaScript ES6 Features (let, const, arrow functions)</li>
                                <li>JavaScript Promises</li>
                                <li>JavaScript Async/Await</li>
                                <li>JavaScript Callbacks</li>
                                <li>JavaScript Closures</li>
                                <li>JavaScript Hoisting</li>
                                <li>JavaScript Scope</li>
                                <li>JavaScript Prototype</li>
                                <li>JavaScript Modules</li>
                                <li>JavaScript Event Loop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>