<section class="section-training-banner java-training-section">
    <div class="container training-banner">
        <div class="row">
            <div class="course-title">
                <h1><i class="fa-brands fa-java"></i> Java Full-Stack Development Training</h1>
            </div>
        </div>
        <div class="row course-points-header">
            <div class="col-md-5 image-container">
                <img src="~/Content/assets/img/courses/java-fullstack-development.png" class="img-fluid" />
            </div>
            <div class="course-points col-md-7">
                <ul class="custom-bullet">
                    <li><p>Comprehensive Java Full-Stack Certification Course designed by Industry Experts</p></li>
                    <li><p>Master key technologies including Spring Boot, ReactJS, Oracle, and AWS</p></li>
                    <li><p>Hands-on experience with Real-Time Projects and Case Studies</p></li>
                    <li><p>Placement Assistance upon course completion</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services course-features section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Why Learn Java?</h2>
            <p>Explore</p>
        </div>
        <div class="sub-programs">
            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch">
                    <div class="box-rounded">
                        <ul class="custom-bullet">
                            <li><p> <b>Platform Independence:</b> Write once, run anywhere with Java applications.</p></li>
                            <li><p> <b>High Demand:</b> Java is extensively used in enterprise-level applications.</p></li>
                            <li><p> <b>Robust and Secure:</b> Java provides strong mechanisms for security and exception handling.</p></li>
                            <li><p> <b>Rich Ecosystem:</b> Wide variety of frameworks and tools available for development.</p></li>
                            <li><p> <b>Strong Community:</b> Large community support, ensuring abundant resources and libraries.</p></li>
                            <li><p> <b>Great for Web and Mobile:</b> Also used in Android applications.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services course-features section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Key Concepts in Course</h2>
            <p>Explore key concepts</p>
        </div>
        <div class="sub-programs">
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Java Fundamentals</a></h4>
                        <p class="description">Java syntax, data types, and control structures.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Spring Framework</a></h4>
                        <p class="description">Dependency Injection, Spring Boot, and REST APIs.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Hibernate ORM</a></h4>
                        <p class="description">Data management and object-relational mapping.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">ReactJS</a></h4>
                        <p class="description">Building dynamic front-end applications with React.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Oracle Database</a></h4>
                        <p class="description">Database design and management concepts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">RESTful APIs</a></h4>
                        <p class="description">Creating and consuming RESTful web services.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Unit Testing</a></h4>
                        <p class="description">Testing using JUnit and Mockito frameworks.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">DevOps</a></h4>
                        <p class="description">Understanding CI/CD concept and tools.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section course-curriculum section-bg">
    <div class="accordion container" data-aos="fade-up" id="accordionExample">
        <div class="section-title">
            <h2>Key Concept Details</h2>
            <p>Explore concept details</p>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Introduction to Java
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Understanding Java and its platform</p></li>
                            <li><p>Java Development Kit (JDK), Java Runtime Environment (JRE), and Java Virtual Machine (JVM)</p></li>
                            <li><p>Java Version History and Features</p></li>
                            <li><p>Basic Syntax and Structure of a Java Program</p></li>
                            <li><p>Data Types, Variables, and Operators</p></li>
                            <li><p>Control Flow Statements (if, switch, loops)</p></li>
                            <li><p>Arrays and Collections (List, Set, Map)</p></li>
                            <li><p>Object-Oriented Principles (Encapsulation, Inheritance, Polymorphism)</p></li>
                            <li><p>Exception Handling using try-catch-finally</p></li>
                            <li><p>Java I/O basics including file handling</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Object-Oriented Programming in Java
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Understanding the main concepts of OOP</p></li>
                            <li><p>Defining Classes and Creating Objects</p></li>
                            <li><p>Access Modifiers and Encapsulation</p></li>
                            <li><p>Inheritance: Types and Implementation</p></li>
                            <li><p>Polymorphism: Method Overriding and Overloading</p></li>
                            <li><p>Abstract Classes and Interfaces</p></li>
                            <li><p>Constructor and Destructor in Java</p></li>
                            <li><p>Static Members: Static classes, methods, and variables</p></li>
                            <li><p>Inner Classes and Anonymous Classes</p></li>
                            <li><p>Exception Handling: Checked vs Unchecked Exceptions</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Spring Framework
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Overview and architecture of Spring Framework</p></li>
                            <li><p>Core Container and Dependency Injection in Spring</p></li>
                            <li><p>Spring Boot and its advantages for fast development</p></li>
                            <li><p>Creating RESTful web services using Spring MVC</p></li>
                            <li><p>Data access with Spring Data JPA</p></li>
                            <li><p>Integrating Hibernate with Spring</p></li>
                            <li><p>Spring Security fundamentals for authentication and authorization</p></li>
                            <li><p>Spring AOP (Aspect-Oriented Programming) concepts</p></li>
                            <li><p>Spring Testing framework for unit and integration testing</p></li>
                            <li><p>Application properties and profiles management</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    ReactJS Development
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Introduction to React and Component-based architecture</p></li>
                            <li><p>JSX: JavaScript XML Syntax and Benefits</p></li>
                            <li><p>Understanding Components: Functional and Class components</p></li>
                            <li><p>State and Props for managing data in components</p></li>
                            <li><p>React Lifecycle methods and hooks</p></li>
                            <li><p>Handling events and user interactions</p></li>
                            <li><p>Understanding React Router for navigation</p></li>
                            <li><p>Managing applications' state with Context API or Redux</p></li>
                            <li><p>Working with forms in React</p></li>
                            <li><p>Building and deploying a React Application</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Oracle Database
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Understanding Oracle Database architecture</p></li>
                            <li><p>Data modeling and schema design</p></li>
                            <li><p>Using SQL for querying Oracle Database</p></li>
                            <li><p>Creating, updating, and deleting records</p></li>
                            <li><p>Advanced SQL techniques: Joins, Subqueries, and Aggregations</p></li>
                            <li><p>Working with PL/SQL: Procedures and Functions</p></li>
                            <li><p>Understanding Transactions and Data Integrity constraints</p></li>
                            <li><p>Using Sequences and Indexes for performance optimization</p></li>
                            <li><p>Using Oracle ADO.NET for data access in Java applications</p></li>
                            <li><p>Security measures in Oracle: Users, Roles, and Privileges</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    RESTful API Development
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Understanding RESTful API architecture and principles</p></li>
                            <li><p>Creating REST APIs using Spring Boot</p></li>
                            <li><p>Handling HTTP methods (GET, POST, PUT, DELETE)</p></li>
                            <li><p>Data serialization and JSON handling</p></li>
                            <li><p>API Versioning strategies and best practices</p></li>
                            <li><p>Using Swagger for API documentation</p></li>
                            <li><p>Securing API endpoints with OAuth2 and JWT</p></li>
                            <li><p>Error handling in REST APIs</p></li>
                            <li><p>Testing REST APIs with Postman</p></li>
                            <li><p>Optimizing API performance and caching strategies</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Unit Testing with JUnit and Mockito
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Introduction to JUnit: Setting up the environment</p></li>
                            <li><p>Writing your first test case in JUnit</p></li>
                            <li><p>Understanding assertions and expected exceptions</p></li>
                            <li><p>Test Suites and Parameterized Tests</p></li>
                            <li><p>Overview of Mockito for mocking dependencies</p></li>
                            <li><p>Creating mock objects and changing behavior with Mockito</p></li>
                            <li><p>Verifying interactions with mock objects</p></li>
                            <li><p>Testing RESTful APIs with MockMvc</p></li>
                            <li><p>Code coverage tools (e.g., JaCoCo)</p></li>
                            <li><p>Best practices for writing unit tests</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    DevOps Principles and CI/CD
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Understanding DevOps and its principles</p></li>
                            <li><p>Setting up Continuous Integration (CI) pipelines</p></li>
                            <li><p>Understanding Continuous Delivery (CD) principles</p></li>
                            <li><p>Managing version control with Git</p></li>
                            <li><p>Integrating Jenkins for automation</p></li>
                            <li><p>Containerization using Docker and its benefits</p></li>
                            <li><p>Infrastructure as Code with Terraform</p></li>
                            <li><p>Deploying applications in cloud environments (like AWS, Azure)</p></li>
                            <li><p>Monitoring and Logging best practices</p></li>
                            <li><p>Using tools like Kubernetes for orchestration</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Security Best Practices
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Understanding the basics of application security</p></li>
                            <li><p>SQL Injection prevention techniques</p></li>
                            <li><p>Cross-site scripting (XSS) protection mechanisms</p></li>
                            <li><p>Using HTTPS for secure communication</p></li>
                            <li><p>Authentication and Access Control strategies</p></li>
                            <li><p>Implementing JWT-based security in APIs</p></li>
                            <li><p>Understanding and implementing CORS</p></li>
                            <li><p>Using third-party libraries securely</p></li>
                            <li><p>Log management and monitoring for security audits</p></li>
                            <li><p>Regular security assessments and vulnerability testing</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Performance Optimization Techniques
                </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <ul class="custom-bullet">
                            <li><p>Understanding performance bottlenecks</p></li>
                            <li><p>Profiling Java applications for performance insights</p></li>
                            <li><p>Optimizing database queries in Oracle</p></li>
                            <li><p>Caching strategies (using Redis, Memcached)</p></li>
                            <li><p>Optimizing Spring applications with best practices</p></li>
                            <li><p>Using connection pooling for database performance</p></li>
                            <li><p>Code optimization techniques and design patterns</p></li>
                            <li><p>Setting up effective monitoring and alerting</p></li>
                            <li><p>Using CDN for asset delivery</p></li>
                            <li><p>Effective load testing and capacity planning</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>