<div class="text-container">
    <div class="container mt-5 mb-4">
        <div>
            <h2>Privacy Policy</h2><span></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <p>
                        We have made every effort to ensure your information is secure. We are committed to protecting your right to privacy as a user of our website. This privacy policy information covers what information is collected, what we do with it,
                        and what you can do about it. You can use this information to make your decisions about your privacy. The content, information, courseware, products and services published, available or provided on <a href="https://www.techschool.com">www.techschool.com</a>                        ("the Website"), are owned, maintained and monitored by Dot Net Tricks Innovation Pvt. Ltd. ("Us", "We" or "Our").
                    </p>
                </div>
                <div>
                    <h3>About Us</h3>
                    <p>
                        ScholarHat offers corporate training and online training programs by the experienced industry mentors. With our mentors, you can enhance your skills as per changing technology landscape. Our training programs are specially designed
                        for that, so that your can develop your real-world application with latest technologies from start to end.
                    </p>
                </div>
                <div>
                    <h3>Our Information Practices</h3>
                    <p>We have tried to ensure the accuracy of the information on the website; the content is naturally subject to change. We are not responsible for any damages arising from the use of the information held on our site.</p>
                    <p>We assure that all our downloadable training contents are virus free. However, we can accept no liability for damages resulting from virus infection.</p>
                </div>
                <div>
                    <h3>Information collected by Us</h3>
                    <ol style="margin-left:20px">
                        <li>You have total control on the privacy of your information.</li>
                        <li>Your information will never be sold, exchanged or disclosed to any third party for marketing purposes.</li>
                        <li>You can opt to receive offers from us.</li>
                    </ol>
                </div>
                <div>
                    <h3>Usage of the Website</h3>
                    <p>
                        You can browse our website without registration. We may collect and store the information that you voluntarily disclose to us, in order to access our article, eBooks, courses and skill tests. We do not share your personal information
                        with any third party.
                    </p>
                </div>
                <div>
                    <h3>Information used by Us</h3>
                    <p>
                        We may use your information to contact you via email or telephone, typically to get feedback, to inform you about new products, services, promotions or provide support on your issues. If you do not want us to contact you via email,
                        you can unsubscribe at any time.
                    </p>
                    <p>
                        When you purchase our products like ebooks, membership or register for a online training, you need to make the payment online, thus you will be required to share with us your personal information such as name, e-mail address, telephone
                        number, address(s), credit card number, expiration, and CVV number.
                    </p>
                    <p>
                        During this program, we store your contact information in our registration and order-entry systems. Your credit card information is never stored in our system as it is processed by our payment gateway which uses Secure Encryption Technology
                        (SSL). Our payment processing partners are PayUMoney, PayPal, and Razorpay.
                    </p>
                </div>
                <div class="feature-classroom">
                    <h3>Correction, Removal or Export of Personal Information</h3>
                    <p>
                        ScholarHat acknowledges that you have the right to access, edit and delete your personal information at any time. Upon request, we will provide you with reasonable access to the personal information we collect about you. You also have
                        the right to withdraw your consent granted for collection of personal information by issuing a written request for data erasure which will be followed by the Company in conformity with the applicable privacy laws. You may access,
                        update or export your Personal Information included in your online ScholarHat account at any time by logging into your account and going to your profile or by reaching out to us at <a href="mailto:support@techschool.com">support@techschool.com</a>.
                    </p>
                </div>
                <div class="feature-classroom">
                    <h3>Exceptions in Deletion</h3>
                    <p>
                        If you request access to your personal information and discover that that information is wrong, we strive to give you ways to update it quickly or to delete it – unless we have to keep that information for legitimate business or legal
                        purposes. We aim to maintain our services in a manner that protects information from accidental or malicious destruction. Because of this, after you delete information from our services, we may not immediately delete residual copies
                        from our active servers or backup systems.
                    </p>
                </div>
                <div>
                    <h3>Cookie Information</h3>
                    <p>In order to enhance your online experience and track website performance, our website uses cookies. It's a small text file which gets placed in your computer hard drive and can be retrieved later. Cookies do not tell us who you are.</p>
                    <p>To provide superior online shopping experience, our shopping cart may use cookies to temporarily store names and email addresses. Cookies will never store credit card information.</p>
                </div>
                <div>
                    <h3>Course Content</h3>
                    <p>
                        Course content for all the programs is provided only for the purpose of education and guidance. The course content is reviewed regularly and is subject to change without notice. ScholarHat reserves the right to modify training content
                        without notice.
                    </p>
                </div>
                <div>
                    <h3>External Links</h3>
                    <p>
                        Our website may have links to other sites, which include third party websites or resources. We are not responsible for the privacy policies and information practices of third party websites. Please read the privacy policies of third
                        party websites as every website has different terms of use and privacy policies.
                    </p>
                </div>
                <div>
                    <h3>Copyright Information</h3>
                    <p>
                        You can electronically copy or take print outs of the website pages, only for personal use. ScholarHat holds the copyright to all the material on this website, unless otherwise indicated. A written permission from the copyright holder
                        must be obtained for any use of this material other than for purposes permitted by law.
                    </p>
                </div>
                <div>
                    <h3>Personal Information Policy Image and Video Capture</h3>
                    <p>
                        Any image or video captured during events organized and hosted by ScholarHat should not be misused which includes pictures or videos of ScholarHat staff and training participants. If you enroll in a ScholarHat training program (sel-paced
                        and live training) your picture may also be featured in photos or videos of the ScholarHat training classes.
                    </p>
                </div>
                <div>
                    <h3>Sharing Your Personal Information</h3>
                    <p>
                        If you have purchased a ScholarHat course, we may ask you for a testimonial and with your authorization, display your testimonial, photos or videos on our website or in our social media channels such as Facebook, YouTube, LinkedIn
                        or X-Twitter. You should be aware that your publicly identifiable information could be used to send you promotional, unsolicited messages. We are not responsible for your personal information which you have chosen to display.
                    </p>
                    <p>If you do not want us to feature your pictures/testimonials on our website or on our social media channels, you can send an email to <a href="mailto:support@techschool.com">support@techschool.com</a></p>
                </div>
                <div>
                    <h3>Personal Information Corrections</h3>
                    <p>You can contact us if you notice that the information we are holding is incorrect or incomplete. Please send us an email at <a href="mailto:support@techschool.com">support@techschool.com</a></p>
                </div>
                <div>
                    <h3>Changes to Privacy Policy</h3>
                    <p>These privacy policy terms may change time to time and we reserve the right to change the terms of the privacy policy at any time. When we update the privacy policy, all our registered users will be notified via email.</p>
                </div>
                <div>
                    <h3>Privacy Policy Questions?</h3>
                    <p>If you have any questions regarding ScholarHat Privacy Policy, please write to <a href="mailto:support@techschool.com">support@techschool.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>