    <!-- Section: QA Manual and Automation Training -->
<section class="section-training-banner qa-training-section">
    <div class="container training-banner">
        <div class="row">
            <div class="course-title">
                <h1><i class="fa-solid fa-vial"></i> QA Manual and Automation with Selenium</h1>
            </div>
        </div>
        <div class="row course-points-header">
            <div class="col-md-5 image-container">
                <img src="~/Content/assets/img/courses/testing-tech-stack.png" class="img-fluid" alt="QA Manual and Automation" />
            </div>
            <div class="course-points col-md-7">
                <ul class="custom-bullet">
                    <li><p>Comprehensive QA Training covering manual testing and automation.</p></li>
                    <li><p>Master Selenium with Java for Test Automation.</p></li>
                    <li><p>Hands-on experience with API, Database, Performance, and Security Testing.</p></li>
                    <li><p>Placement Assistance upon course completion.</p></li>
                </ul>
                <div class="btn btn-course-started">
                    <a href="javascript:void(0)" class="scrollto btnBookDemo">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Why Learn QA Testing? -->
<section id="services" class="services course-features section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Why Learn QA Testing?</h2>
            <p>Explore</p>
        </div>
        <div class="sub-programs">
            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch">
                    <div class="box-rounded">
                        <ul class="custom-bullet">
                            <li><p><b>High Demand:</b> QA professionals are in high demand across industries.</p></li>
                            <li><p><b>Quality Assurance:</b> Ensures software quality and customer satisfaction.</p></li>
                            <li><p><b>Diverse Opportunities:</b> Work in various domains like web, mobile, and enterprise applications.</p></li>
                            <li><p><b>Automation Skills:</b> Mastering automation tools like Selenium enhances job prospects.</p></li>
                            <li><p><b>Understanding Testing Methodologies:</b> Knowledge of manual and automated testing techniques.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Key Concepts in the Course -->
<section class="services course-features section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Key Concepts in the Course</h2>
            <p>Explore key concepts</p>
        </div>
        <div class="sub-programs">
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <h4 class="title"><a href="">Manual Testing Fundamentals</a></h4>
                        <p class="description">Learn testing lifecycle, types of testing, and test case creation.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <h4 class="title"><a href="">Selenium WebDriver</a></h4>
                        <p class="description">Automate web applications testing using Selenium.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <h4 class="title"><a href="">API Testing</a></h4>
                        <p class="description">Understanding RESTful APIs & using tools like Postman.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <h4 class="title"><a href="">Database Testing</a></h4>
                        <p class="description">Testing database layers and ensuring data integrity.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="500">
                    <div class="icon-box">
                        <h4 class="title"><a href="">Performance Testing</a></h4>
                        <p class="description">Using tools like JMeter to understand application performance.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="600">
                    <div class="icon-box">
                        <h4 class="title"><a href="">Security Testing</a></h4>
                        <p class="description">Identifying vulnerabilities in applications.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section course-curriculum section-bg">
    <div class="accordion container" data-aos="fade-up" id="accordionExample">
        <div class="section-title">
            <h2>Key Concept Details</h2>
            <p>Explore concept details</p>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Manual Testing Fundamentals
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="custom-bullet">
                        <li><p>Understanding SDLC and STLC processes.</p></li>
                        <li><p>Creating and executing test cases.</p></li>
                        <li><p>Utilizing test management tools.</p></li>
                        <li><p>Test case prioritization and estimation.</p></li>
                        <li><p>Test case management in agile environments.</p></li>
                        <li><p>Test automation frameworks and tools.</p></li>
                        <li><p>Test data management and maintenance.</p></li>
                        <li><p>Test environment setup and management.</p></li>
                        <li><p>Test reporting and defect tracking.</p></li>
                        <li><p>Test metrics and dashboards.</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Selenium WebDriver Basics
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="custom-bullet">
                        <li><p>Setting up Selenium environment.</p></li>
                        <li><p>Locators and interactions with web elements.</p></li>
                        <li><p>Implementing test automation frameworks.</p></li>
                        <li><p>Page object model pattern.</p></li>
                        <li><p>Page factory design pattern.</p></li>
                        <li><p>TestNG framework for automation testing.</p></li>
                        <li><p>Cucumber framework for automation testing.</p></li>
                        <li><p>Extent report for test reporting.</p></li>
                        <li><p>Best practices for code maintainability.</p></li>
                        <li><p>Debugging techniques for automation testing.</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    API Testing Techniques
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="custom-bullet">
                        <li><p>Understanding REST APIs and HTTP methods.</p></li>
                        <li><p>Using Postman for API testing.</p></li>
                        <li><p>Validating API responses and error handling.</p></li>
                        <li><p>API security testing techniques.</p></li>
                        <li><p>API performance testing techniques.</p></li>
                        <li><p>API testing with JMeter.</p></li>
                        <li><p>API testing with Postman Echo.</p></li>
                        <li><p>API testing with SoapUI.</p></li>
                        <li><p>API testing with Rest Assured.</p></li>
                        <li><p>API testing with OkHttp.</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Database Testing
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="custom-bullet">
                        <li><p>Database schema and data validation.</p></li>
                        <li><p>Using SQL for database testing.</p></li>
                        <li><p>Data integrity and performance checks.</p></li>
                        <li><p>Database connection pooling.</p></li>
                        <li><p>Database transaction management.</p></li>
                        <li><p>Error handling in database testing.</p></li>
                        <li><p>Benchmarking database performance.</p></li>
                        <li><p>Distributed database testing.</p></li>
                        <li><p>NoSQL database testing.</p></li>
                        <li><p>Azure Cosmos DB testing.</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Performance Testing
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="custom-bullet">
                        <li><p>Understanding load and performance testing.</p></li>
                        <li><p>Using JMeter for performance testing.</p></li>
                        <li><p>Analyzing test results and reporting.</p></li>
                        <li><p>A/B testing and experimentation.</p></li>
                        <li><p>User experience (UX) testing.</p></li>
                        <li><p>Loading and rendering performance testing.</p></li>
                        <li><p>Main thread performance testing.</p></li>
                        <li><p>CPU and memory usage optimization.</p></li>
                        <li><p>I/O operations optimization.</p></li>
                        <li><p>Data caching optimization.</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Security Testing Techniques
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="custom-bullet">
                        <li><p>Understanding security vulnerabilities.</p></li>
                        <li><p>Utilizing tools for security scanning.</p></li>
                        <li><p>Best practices for secure coding.</p></li>
                        <li><p>Error handling in security testing.</p></li>
                        <li><p>Cross-site scripting (XSS) testing techniques.</p></li>
                        <li><p>Cross-site request forgery (CSRF) testing techniques.</p></li>
                        <li><p>SQL injection testing techniques.</p></li>
                        <li><p>Date and time security testing techniques.</p></li>
                        <li><p>Malware detection techniques.</p></li>
                        <li><p>Password storage and security best practices.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

