<div class="text-container">
    <div class="container mt-5 mb-4">
        <div>
            <h2>Terms and Conditions</h2><span></span>
        </div>
        <div class="row text-justify">
            <div class="col-md-12">
                <div>
                    <p>
                        By clicking on the 'SIGNUP' button, the user ("You" or "Your") agrees to the Terms and Conditions, obligations, representations, warranties, and agreements contained herein (the "Agreement"). The content, information, courseware, products
                        and services published, available or provided on <a href="https://www.techschool.com">www.techschool.com</a> ("the Website"), are owned, maintained and monitored by Dot Net Tricks Innovation Pvt. Ltd. ("Us", "We" or "Our").
                    </p>
                </div>
                <div>
                    <h3>Your Account</h3>
                    <p>
                        By entering into this Agreement, You acknowledge and agree that Your Account ("UserId and Password") is for your exclusive use only. Use or sharing of your account with another user is not permitted and is cause for immediate blocking
                        of your access to the Website, the Services and the Content, the Courseware, and termination of this Agreement.
                    </p>
                    <p>
                        You agree that you are solely responsible for maintaining the confidentiality of Your Account and for all activities that occur under it. You agree to immediately notify our Customer Support Team at <a href="mailto:support@techschool.com">support@techschool.com</a>                        if you become aware of or have reason to believe that there is any unauthorized use of Your Account. You also agree to take all reasonable steps to stop such unauthorized use and to cooperate with us in any investigation of such
                        unauthorized uses. We shall not under any circumstances be held liable for any claims related to the use or misuse of Your Account due to the activities of any third party outside of our control or due to your failure to maintain
                        the confidentiality and security of Your Account.
                    </p>
                </div>
                <div>
                    <h3>Content and Courseware</h3>
                    <p>
                        As a part of our Services offered through our Website, We shall grant you access to our content, courseware, skill tests, and other information, documents, and data which may be in audio, video, written, graphic, recorded, photographic,
                        or any machine-readable format in relation to the specific certification training course You have registered for ("Content and Courseware").
                    </p>
                    <p>
                        We reserve the right to amend, revise or update the Content and Courseware offered to You. In the event such an amendment, revision or updation occurs, We may require you pay an additional fee to access such amended, revised, or updated
                        Content and Courseware.
                    </p>
                </div>
                <div>
                    <h3>Usage of the Website and Services</h3>
                    <p>
                        We grant you a personal, restricted, non-transferable, non-exclusive, and revocable license to use the Website, the Services, and the Content and Courseware offered through the Website till the time the completion of the training course
                        that You have enrolled for or the termination of this Agreement according to the Terms and Conditions set forth herein, whichever is earlier. The Services and the Content and Courseware are provided solely for your personal and
                        non-commercial use to assist you in completing the training course for which you have registered.
                    </p>
                    <p>You are permitted online access to the Website, the Services, and the Content and Courseware and may download, save, or print the Content and Courseware solely for your personal and non-commercial use.</p>
                    <p>
                        You are not permitted to reproduce, transmit, distribute, sub-license, broadcast, disseminate, or prepare derivative works of the Content and Courseware, or any part thereof, in any manner or through any communication channels or means,
                        for any purpose other than your personal purpose, without Our prior written consent.
                    </p>
                </div>
                <div>
                    <h3>Usage of Your Personal Information</h3>
                    <p>
                        We reserve the right to feature Your picture in any photos, videos, or other promotional material used by Us. Further, We may use Your personal information to inform You about other training courses offered by Us. However, We shall
                        not distribute or share Your personal information with any third party marketing database or disclose Your personal information to any third party except on a case-to-case basis after proper verification of such third party or
                        if required under any applicable law.
                    </p>
                </div>
                <div>
                    <h3>Limitation of Liability</h3>
                    <p>
                        You expressly agree that use of the Website, the Services, and the Content and Courseware are at Your sole risk. We do not warrant that the Website or the Services or access to the Content and Courseware will be uninterrupted or error
                        free; nor is there any warranty as to the results that may be obtained from the use of the Website, the Services or the Content and Courseware or as to the accuracy or reliability of any information provided through the Website,
                        the Services, or the Content and Courseware.
                    </p>
                    <p>
                        The disclaimer of liability contained in this clause applies to any and all damages or injury caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus,
                        communication line failure, theft or destruction or unauthorized access to, alteration of, or use of records or any other material, whether for breach of contract, negligence, or under any other cause of action.
                    </p>
                    <p>
                        You hereby specifically acknowledge that We are not liable for any defamatory, offensive, wrongful, or illegal conduct of third parties, or other users of the Website, the Services or the Content and Courseware and that the risk of
                        damage or injury from the foregoing rests entirely with each user.
                    </p>
                    <p>
                        You agree that Our liability or the liability of Our affiliates, directors, officers, employees, agents, and licensors, if any, arising out of any kind of legal claim (whether in contract, tort or otherwise) in any way connected with
                        the Services or the Content and Courseware shall not exceed the fee you paid to Us for the particular training course.
                    </p>
                </div>
                <div>
                    <h3>Term and Termination</h3>
                    <p>
                        This Agreement will become effective upon Your acceptance of the terms of this Agreement by Your clicking on the "I ACCEPT" button and, subject to the terms and conditions of this Agreement, will remain in effect till You maintain
                        a current, fully paid up online User Account, or until terminated by Us, whichever is earlier.
                    </p>
                    <p>
                        We reserve the right to terminate this Agreement and block Your access to the Content and Courseware with immediate effect by sending a written notice through email to You to this effect ("Immediate Termination Date"), if such termination
                        is made as a result of Your misrepresentation, default, misconduct, or breach of Your obligations related to or under this Agreement ("Event of Default").
                    </p>
                </div>
                <div>
                    <h3>Amendment and Assignment</h3>
                    <p>
                        We reserve the right to unilaterally amend or modify this Agreement without giving any prior notification to You. We shall however publish the revised agreement on the Website so that You are aware of the revisions, modifications and
                        amendments made by Us to this Agreement. You acknowledge and agree that it is Your responsibility to check the Website periodically for any revisions, modifications, and amendments. Your continued use of or access to the Website,
                        the Services, and the Content and Courseware following the posting of any changes to this Agreement shall constitute acceptance of those changes.
                    </p>
                    <p>You are not permitted to assign this Agreement or the rights and obligations mentioned in this Agreement to any third party and You only shall be held liable for any breach of this Agreement or any terms and conditions hereof.</p>
                </div>
            </div>
        </div>
    </div>
</div>