<section class="admin-container">
    <div class="admin-container-child">
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                    <div class="position-sticky sidebar-container">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" data-url="/admin/enquiry-list">
                                    <i class="fa fa-check-square"></i> Enquiry List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-url="/admin/enquiry-list">
                                    <i class="fa fa-check-square"></i> Candidates
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-url="/admin/article-create">
                                    <i class="fa fa-check-square"></i> Article Create
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-url="/admin/articles-all">
                                    <i class="fa fa-check-square"></i> Articles 
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-url="/admin/enquiry-list">
                                    <i class="fa fa-check-square"></i> Jobs
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- Main Content -->
                <!-- Main Content -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="content-area">

                </main>
            </div>
        </div>
    </div>
</section>