.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding : 50px;
    margin: 10px;
    background-color: #f0f8f5;
    font-family: Arial, sans-serif;
    align-content: space-around;
    flex-direction: column;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: scaleIn 0.5s ease-out forwards;
}

.tick {
    width: 30px;
    height: 60px;
    border: solid #fff;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
    opacity: 0;
    margin-bottom: 30px;
    animation: drawTick 0.6s ease-out 0.5s forwards;
}

.success-text {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #4caf50;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in 1s forwards;
    opacity: 0;
}

@keyframes scaleIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes drawTick {
    from {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }

    to {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
