@model TechPortalWeb.Models.ArticleModel


<section class="article-content">
    <div class="container">
        <div class="header">
            <h1>@Model.Title</h1>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                @Html.Raw(Model.Content)
            </div>
            <div class="col-md-3">
                <div class="article-right-bar">
                    <ul class="custom-bullet">
                        <li><a>How to solve this code</a></li>
                        <li><a>How to solve this code</a></li>
                        <li><a>How to solve this code</a></li>
                        <li><a>How to solve this code</a></li>
                        <li><a>How to solve this code</a></li>
                        <li><a>How to solve this code</a></li>
                        <li><a>How to solve this code</a></li>
                        <li><a>How to solve this code</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


